*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgb(134, 133, 133);
    text-align: center;
    border: 2px solid black;
}
h6{
    margin: 0 auto;
    height: 20 auto;
    width: 400px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    background-color: #d2f5f9;
    border: 2px solid #9f2726;
    width: 60% ;
    height: auto;  
    margin-bottom: 30px;
    margin: 3% auto;
}
h5{
    margin: 0 auto;
    height: 20 auto;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px; 
    }
h4{
    margin: 0 auto;
    height: 20 auto;
    width: 100px;
    font-size: 20px; 
    margin-bottom: 10px;
    text-align: center;
}
.container1{
    background-color:#ffd3d4;
    border: 2px solid #9f2726 ;
    width: 95%;
    height: 27%;  
    margin: 0 auto;
}
.container1_head{
    margin: 0 auto;
    height: 2%;
    width: 10%;
    font-size: 25px; 
    font-weight: 80%;
    margin-top: 3%;
}
.container2{
    background-color: #ffd3d4;
    border: 2px solid #9f2726 ;
    width: 99% ;
    height: 170px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;    
}
.meta{
    margin: 0 auto;
    height: 2%;
    width: 10%;
    font-size: 25px; 
    margin-top: 1%;  
}
.title{
    margin: 0 auto;
    height: 2%;
    width: 10%;
    font-size: 25px; 
    margin-top: 3%;   
}
.link{
    margin: 0 auto;
    height: 2%;
    width: 10%;
    font-size: 25px; 
    margin-top: 3%; 
}
.script{
    margin: 0 auto;
    height: auto;
    width: 10%;
    font-size: 25px; 
    margin-top: 3%; 
}
.container_body{
    background-color: #cdffca;
    border: 2px solid #5854C5;
    width: 95% ;
    height: auto; 
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
h4{
    margin: 0 auto;
    font-size: 25px; 
    margin-top: 1%;  
}
.container_header{
    background-color: #cdffca;
    border: 2px solid #5854C5;
    width: 99% ;
    height: auto;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.header1{
    text-align: center;
    margin: 0 auto;
    font-size: 25px; 
    margin-top: 1%;
}
.container_nav{
    background-color: #cdffca;
    border: 2px solid #5854C5;
    width: 99% ;
    height: auto;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    text-align: center;
    margin: 0 auto;
    font-size: 25px; 
    margin-top: 1%;  
}
/*hola*/
.containers{
    display: flex;
    width: 100% ;
    height: auto;
    margin-top: 3%;    
    margin-right: auto;
    /*dgnjdzfnaz*/
}
.container_main{
    background-color: #cdffca;
    border: 2px solid #5854C5;
    width: 78% ;
    margin: 10px auto 0 5px;
    display: flex;
    flex-direction: column;
}
.main{
    margin: 1% auto;
    width: 10%;
    font-size: 25px; 
    font-weight: 80%;
    margin-top: 3%;
}
.container5{
    background-color: #cdffca;
    border: 2px solid #5854C5;
    width: 95% ;
    margin: 1% auto;
    text-align: center;
}
.section1{
    text-align: center;
    margin: auto;
    font-size: 1em; 

}
.container_article{
    background-color: #cdffca;
    border: 2px solid #5854C5;
    width: 95% ;
    margin:1% auto;
    text-align: center;
}
.article1{
    text-align: center;
    margin: 0 auto;
    font-size: 25px; 
    margin-top: 1%; 
}
.container_aside{
    background-color: #cdffca;
    border: 2px solid #5854C5;
    width: 20%;
    height: auto;
    margin-top: 10px;    
    margin-right: 5px;
    text-align: center;
    font-size: 25px;
    /* line-height: 250px; */
}

.container_aside aside p {
    font-size: 0.7em;
}
.container_footer{
    background-color: #cdffca;
    border: 2px solid #5854C5;
    width: 99% ;
    height: auto;
    margin: 15px auto;
    text-align: center;
    font-size: 25px;
    
}

